html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.login-container button {
    background-color: #2e8b57; /* Surgical green color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-container button:hover {
    background-color: #276b47; /* Darker surgical green on hover */
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}