@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --primary-color: #009f6b;  /* Green Shade */
  --hover-color: #008156;  /* Slightly Darker Green */
  --background-color: #b5f0f8;
  --text-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 15px 30px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo a {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.nav-links a:hover {
  background-color: var(--hover-color);
}

.logo img {
  height: 50px;  /* Adjust as needed */
  width: auto;
  cursor: pointer;
}
